@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.legend {
	font-size: 0.8rem !important;
}

.button.label {
	font-weight: normal !important;
}
